/* Colors */
:root {
    --primary-dark-magenta: hsl(300, 43%, 22%);
    --primary-soft-pink: hsl(333, 80%, 67%);
    --neutral-dark-gray-magenta: hsl(303, 10%, 53%);
    --neutral-light-gray-magenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);
}

/* Reset */
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--neutral-white);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Page container */
/* width 90%, max-width 1110px */
.container {
    width: min(90%, 69.375rem);
    margin: 0 auto;
    overflow: hidden;
}

/* Flex styles */
body {
    display: flex;
    flex-direction: column;
}

.flex--content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex--header,
.flex--ratings,
.flex--figures {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex--stars {
    display: flex;
}

.flex--testimonial {
    display: flex;
    align-items: center;
}

/* Background Images */
body {
    background-image: url(images/bg-pattern-top-mobile.svg),
        url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
}

/* Screen reader only styles */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /*added line*/
    border: 0;
}

/* Header styles */
.header {
    margin-block-start: 4rem;
    text-align: center;
}

.header__text {
    padding: 1rem 0;
}

.header__text h1 {
    padding: 0 0 1.1rem;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-dark-magenta);
}

.header__text p {
    font-weight: 500;
    color: var(--neutral-dark-gray-magenta);
}

.header__ratings {
    width: min(100%, 21.875rem);
    margin: 1.5rem 0 3rem;
    display: grid;
    row-gap: 1rem;
}

.header__ratings--block {
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: var(--neutral-light-gray-magenta);
}

.stars {
    margin-block-end: 1rem;
}

.stars img:nth-child(even) {
    padding: 0 0.5rem;
}

span.ratings {
    font-size: 0.8125rem;
    font-weight: 700;
    color: var(--primary-dark-magenta);
}

/* Testimonial styles */
.figures {
    margin-block-end: 5rem;
}
.testimonial {
    max-width: 21.875rem;
    padding: 2.5rem 2rem;
    border-radius: 8px;
    font-size: 0.8125rem;
    color: var(--neutral-white);
    background-color: var(--primary-dark-magenta);
}

.testimonial:not(:first-child) {
    margin-block-start: 1rem;
}

.testimonial img {
    width: 2.5rem;
    margin-inline-end: 1.5rem;
    border-radius: 50%;
}

figcaption span {
    display: block;
}

.testimonial__name {
    font-size: 0.8125rem;
    font-weight: 700;
}

.testimonial__title {
    color: var(--primary-soft-pink);
}

.testimonial blockquote {
    margin-block-start: 1.5rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: -0.23px;
}

/* Fallback for hanging quotations */
blockquote {
    text-indent: -0.45em;
}

/* If there's support, erase the text-indent and use the property instead for hanging quotations */
@supports (hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

/* Footer styles */
.attribution {
    margin-block-end: 1rem;
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Footer styles to help push footer content to the bottom of the screen (this also includes the body being set to flex) */
.content {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

/* Media queries */
@media (min-width: 62.5em) {
    body {
        background-image: url(images/bg-pattern-top-desktop.svg),
            url(images/bg-pattern-bottom-desktop.svg);
    }

    .flex--figures {
        justify-content: space-between;
        flex-direction: row;
    }

    .figures {
        margin-block-end: 0;
    }

    .testimonial:nth-child(3) {
        margin-block-start: 2rem;
    }
}

@media (min-width: 68.75em) {
    .flex--header {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 3rem;
    }

    .flex--ratings {
        flex-direction: row;
        justify-content: space-around;
    }

    .header {
        margin: 0 0 3rem;
        text-align: left;
    }

    .header__text h1 {
        font-size: 3rem;
    }

    .header__ratings {
        width: auto;
        grid-template-columns: repeat(12, 3rem);
    }

    .grid-ratings-1 {
        grid-column: 1 / 11;
    }

    .grid-ratings-2 {
        grid-column: 2 / 12;
    }

    .grid-ratings-3 {
        grid-column: 3 / 13;
    }

    .stars {
        margin-block-end: 0;
    }
}

@media (min-width: 62.5em) and (max-width: 73.125em) {
    .testimonial {
        max-width: 18.5rem;
    }
}
