/* Remove styles if needed */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Colors */
:root {
    --primary-dark-magenta: hsl(300, 43%, 22%);
    --primary-soft-pink: hsl(333, 80%, 67%);
    --neutral-dark-gray-magenta: hsl(303, 10%, 53%);
    --neutral-light-gray-magenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);
}

/* Reset */
html, body {
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.5;
    background-color: #fff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}
