/* Colors */
:root {
    --primary-dark-magenta: hsl(300, 43%, 22%);
    --primary-soft-pink: hsl(333, 80%, 67%);
    --neutral-dark-gray-magenta: hsl(303, 10%, 53%);
    --neutral-light-gray-magenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);
}

/* Reset */
html,
body {
    height: 100%;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--neutral-white);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

/* Page container */
/* width 90%, max-width 1110px */
.container {
    width: min(90%, 69.375rem);
    margin: 5rem auto;
    overflow: hidden;
}

/* Flex styles */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-stars {
    display: flex;
}

.flex-testimonial {
    display: flex;
    align-items: center;
}

/* Header styles */
.header {
    text-align: center;
}

.header__text h1 {
    color: var(--primary-dark-magenta);
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    padding: 0.2rem 0 1.1rem;
}

.header__text p {
    color: var(--neutral-dark-gray-magenta);
    font-weight: 500;
}

.header__ratings {
    margin: 2.5rem 0 3rem;
    width: 100%;
}

.header__ratings--block {
    background-color: var(--neutral-light-gray-magenta);
    padding: 1rem 0;
    border-radius: 8px;
}

.header__ratings--block:not(:last-child) {
    margin-block-end: 1rem;
}

.stars {
    margin-block-end: 1rem;
}

.stars img:nth-child(even) {
    padding: 0 0.5rem;
}

span.ratings {
    color: var(--primary-dark-magenta);
    font-size: 0.8125rem;
    font-weight: 700;
}

/* Testimonial styles */
.testimonial {
    color: var(--neutral-white);
    font-size: 0.8125rem;
    background-color: var(--primary-dark-magenta);
    border-radius: 8px;
    padding: 2.5rem 2rem;
}

.testimonial:not(:last-child) {
    margin-block-end: 1rem;
}

.testimonial img {
    border-radius: 50%;
    margin-inline-end: 1.5rem;
}

figcaption span {
    display: block;
}

.testimonial__name {
    font-size: 0.8125rem;
    font-weight: 700;
}

.testimonial__title {
    color: var(--primary-soft-pink);
}

.testimonial blockquote {
    font-weight: 500;
    line-height: 1.7;
    margin-block-start: 1.5rem;
}

/* Fallback for hanging quotations */
blockquote {
    text-indent: -0.45em;
}

/* If there's support, erase the indent and use the property instead for hanging quotations */
@supports (hanging-punctuation: first) {
    blockquote {
        text-indent: 0;
        hanging-punctuation: first;
    }
}

/* Remove styles if needed */
.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-block-end: 1rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
