/* ----- Colors ----- */
:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gray-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* ----- Reset ----- */
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* ----- Page container ----- */
/* width 90%, max-width 1140px */
.container {
    width: min(90%, 71.25rem);
    margin-inline: auto;
}

/* ----- Footer styles ----- */
.attribution {
    margin-block-end: 1rem;
    font-size: 0.6875rem;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

footer {
    margin-block-start: auto;
}
